<p id="notice"><%= notice %></p>

<h1>Shimonokus</h1>

<table>
  <thead>
    <tr>
      <th>Kamishichi</th>
      <th>Shimoshichi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shimonokus.each do |shimonoku| %>
      <tr>
        <td><%= shimonoku.kamishichi %></td>
        <td><%= shimonoku.shimoshichi %></td>
        <td><%= link_to 'Show', shimonoku %></td>
        <td><%= link_to 'Edit', edit_shimonoku_path(shimonoku) %></td>
        <td><%= link_to 'Destroy', shimonoku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shimonoku', new_shimonoku_path %>
