<p id="notice"><%= notice %></p>

<p>
  <strong>Kamishichi:</strong>
  <%= @shimonoku.kamishichi %>
</p>

<p>
  <strong>Shimoshichi:</strong>
  <%= @shimonoku.shimoshichi %>
</p>

<%= link_to 'Edit', edit_shimonoku_path(@shimonoku) %> |
<%= link_to 'Back', shimonokus_path %>
