<%= form_with(model: kaminoku, local: true) do |form| %>
  <% if kaminoku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kaminoku.errors.count, "error") %> prohibited this kaminoku from being saved:</h2>

      <ul>
      <% kaminoku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kamigo %>
    <%= form.text_field :kamigo %>
  </div>

  <div class="field">
    <%= form.label :nakashichi %>
    <%= form.text_field :nakashichi %>
  </div>

  <div class="field">
    <%= form.label :shimogo %>
    <%= form.text_field :shimogo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
