<p id="notice"><%= notice %></p>

<p>
  <strong>Kamigo:</strong>
  <%= @kaminoku.kamigo %>
</p>

<p>
  <strong>Nakashichi:</strong>
  <%= @kaminoku.nakashichi %>
</p>

<p>
  <strong>Shimogo:</strong>
  <%= @kaminoku.shimogo %>
</p>

<%= link_to 'Edit', edit_kaminoku_path(@kaminoku) %> |
<%= link_to 'Back', kaminokus_path %>
